{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'img/hero-carousel/doc 1.jpg' %}" alt="">
          <div class="container">
            <h2>Welcome to Medilab</h2>
            <p>While pain is significant, it also presents a challenge. To reach greater goals, we must have the strength to take action and work in ways that benefit our well-being.</p>
            <a href="#about" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'img/hero-carousel/docters 2 .png.jpg' %}" alt="">
          <div class="container">
            <h2>However, in reality, we blame them.</h2>
            <p>When we are free from obligations, we have the ability to choose what is best for us, and nothing stands in the way of fulfilling our desires. We should embrace all forms of pleasure and avoid all forms of pain. However, there are times when responsibilities or duties must be attended to.</p>
            <a href="#about" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'img/hero-carousel/doc 3 .png.jpg' %}" alt="">
          <div class="container">
            <h2>But during specific periods</h2>
            <p>Illustrations of a joyful life are provided. No one seeks pleasure simply for the sake of pleasure, nor does anyone despise or avoid it, but rather they do so because they face great suffering due to not knowing how to properly pursue pleasure. These mistakes stem from a fundamental misunderstanding of pleasure and pain.</p>
            <a href="#about" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carouselpyt-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
              <h4><a href="" class="stretched-link">Pain itself is something important, but in the case of work and suffering, it leads to a greater and more important result.</a></h4>
              <p>Concerning the pleasures of illusion and corruption, which must be avoided, except for the associated pain and hardships.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-pills icon"></i></div>
              <h4><a href="" class="stretched-link">Sed ut perspici</a></h4>
              <p>You may face discomfort in doing something, but it is essential for the pleasure, and it is a type of pain you are willing to bear.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-thermometer icon"></i></div>
              <h4><a href="" class="stretched-link">Magni Dolores</a></h4>
              <p>Those who are accountable are at fault if they neglect their obligations</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-dna icon"></i></div>
              <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
              <p>In fact, we blame and oppose those who, through false praise, deserve the most contempt</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section accent-background">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>In an emergency? Need help now?</h3>
              <p>You might face discomfort while doing something, but it's a necessary part of the pleasure, and it's a kind of pain you're willing to accept. However, exceptions apply to those who fail to fulfill their responsibilities, and they are accountable for the harm caused by their neglect.</p>
              <a class="cta-btn" href="#appointment">Make an Appointment</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

     About Section
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p>His needs are fulfilled through something, even though it avoids him, but he definitely longs for peace and balance.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'img/aboupython managet.jpg' %}" class="img-fluid" alt="">
            <a href="{% static 'https://www.youtube.com/watch?v=Y7f98aduVJ8' %}" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Pleasures should be pursued by those who deserve them, as though they are physical joys to be fully embraced.</h3>
            <p class="fst-italic">
              Although pain and hardship are unavoidable, they are endured to reach something worthwhile, and are part of the journey of personal growth.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Work is only worthwhile if it leads to some kind of benefit or positive result.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Although you might face discomfort in doing something, it is pursued because of the pleasure it provides.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Work should only be undertaken if it leads to a positive result.</span></li>
            </ul>
            <p>
              Work is only valuable when it leads to some form of benefit or comfort. There is pain involved when actions go against what is right or morally acceptable. Pleasure can be found in experiences that cause harm or suffering without any personal gain. However, certain actions may be excused when they don’t lead to negative consequences or involve personal responsibility.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->



    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <div class="row justify-content-around gy-4">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/features.jpg" alt=""></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>Certainly, who wouldn't strive for enjoyment or try to escape pain?</h3>
            <p>Pleasure can be experienced with or without exertion. Blame is present in this situation. It's neither fully its own nor a small amount of time for praise. It is free from enjoyment but leads to bodily pain unless deliberately avoided.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="fa-solid fa-hand-holding-medical flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Pain itself is something important, but in the case of work and suffering, it leads to a greater and more important result.</a></h4>
                <p>Enjoyments of indulgence and the harmful things that bring about suffering and distress, except for those driven by desires that fail to meet genuine needs.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="fa-solid fa-suitcase-medical flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                <p>However, it is those who are rightfully blamed and deserving of contempt—those who lead lives filled with indulgence and partake in dishonest actions.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
              <i class="fa-solid fa-staff-snake flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                <p>I will clarify that pleasures are more intense and bring about significant outcomes. The truth, however, is despised. They are either absent or selecting everything.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
              <i class="fa-solid fa-lungs flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tride clov</a></h4>
                <p>Work and sharing can be enjoyable for those who find pleasure in it. Pain, on the other hand, is often free from severe criticism or hatred. And making choices is part of the process</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>His requirements are met through something, and although he can avoid it, he definitely wants it.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>They are unaware</h3>
              </a>
              <p>They expect nothing less than what they desire, but not all significant outcomes are realized. They are blamed for causing harm, enduring legal consequences, and achieving results over time</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>The advantages they have</h3>
              </a>
              <p>However, it is neither this nor that. Things should be simple and just. They are free from corruption, yet they remain unaware of suffering.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>A delightful marketplace</h3>
              </a>
              <p>Pleasure is only valuable if it isn't in vain. Truly, escape is possible. Less is involved, or. However, who would pursue enjoyment through such corrupt means?</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link"></a>
                <h3>More difficult advantages</h3>
                <a>delightful marketplce</a>
              <p>Not all moments are less significant, but pain is a consequence. Desire may lead to mistakes, though an escape can be foreseen, and success is not always certain.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>He/she/it wishes for pain.</h3>
              </a>
              <p>The phrase seems to describe someone or something that frequently takes on tasks, with a focus on the contrast between physical ease and mental or spiritual challenges. It suggests that while certain tasks might be easy in a physical sense, mental or emotional effort is a different matter—requiring more labor and mental stren</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>For the architect of pain.</h3>
              </a>
              <p>Here are the troubles that affect some of them. Indeed, they may escape pain, nor are they obligated by law. Corrupted, we refuse to lead.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->
    

<!--   &lt;!&ndash; Appointment Section &ndash;&gt;-->
<!--    <section id="appointment" class="appointment section light-background">-->

<!--      &lt;!&ndash; Section Title &ndash;&gt;-->
<!--      <div class="container section-title" data-aos="fade-up">-->
<!--        <h2>MAKE AN APPOINTMENT</h2>-->
<!--        <p>Due to his needs, something may slip away from him, but he certainly desires to achieve or connect with something important.</p>-->
<!--      </div>&lt;!&ndash; End Section Title &ndash;&gt;-->





<!--        </div>-->

<!--        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">-->
<!--          <div class="row">-->
<!--            <div class="col-md-4 form-group">-->
<!--              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">-->
<!--            </div>-->
<!--            <div class="col-md-4 form-group mt-3 mt-md-0">-->
<!--              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">-->
<!--            </div>-->
<!--            <div class="col-md-4 form-group mt-3 mt-md-0">-->
<!--              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">-->
<!--            </div>-->
<!--          </div>-->






 <div class="row">
  <div class="col-md-4 form-group mt-3">-->
     <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required="">
   </div>-->
   <div class="col-md-4 form-group mt-3">-->
     <select name="department" id="department" class="form-select" required="">-->#}       <option value="">Select Department</option>
      <option value="Department 1">Cardiology Department</option>
      <option value="Department 2">Surgery Department </option>
      <option value="Department 3">Dental Department </option>-->#}
    </select>-->#}
            </div>-->#}
            <div class="col-md-4 form-group mt-3">-->#}
              <select name="doctor" id="doctor" class="form-select" required="">-->#}
                <option value="">Select Doctor</option>-->#}
                <option value="Doctor 1">Neurosurgeon</option>-->#}
                <option value="Doctor 2">Dentist</option>-->#}
               <option value="Doctor 3">Cardiology</option>-->#}
              </select>
          </div>-->
         </div>-->

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
          </div>
          <div class="mt-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
            <div class="text-center"><button type="submit">Make an Appointment</button></div>
          </div>
        </form>

      </div>

    </section><!-- /Appointment Section -->

    <!-- Tabs Section -->
    <section id="tabs" class="tabs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Departments</h2>
        <p>From his needs, it follows that something may escape him, yet he seeks to connect with and fulfill his desires.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tabs-tab-1">Cardiology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-2">Neurology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-3">Hepatology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-4">Pediatrics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-5">Ophthalmologists</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tabs-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cardiology</h3>
                    <p class="fst-italic">Those who are praised for their work are often guided toward wisdom.</p>
                    <p>To us, the greater pleasures are those of success and accomplishment. Yet, flattery and empty praise often lead to nothing. People may hate the work itself, and troubles seem inevitable. Some reject the smallest challenges, and yet, nothing significant comes from avoiding hardship. Ultimately, it is pain that we seek when we avoid the truth, and it is the truth that we must face, no matter how difficult.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-1.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabs-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Neurology</h3>
                    <p class="fst-italic">Those who are praised for their work are often guided toward wisdom.</p>
                    <p>Pleasure is something that naturally follows certain actions, but errors are often not easily dismissed. Some things must be rejected, while others are pursued with desire. People often fail to see the true options available to them, and those who are content may still be accused of wanting more.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-2.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabs-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hepatology</h3>
                    <p class="fst-italic">Pleasures that are sought after can often lead to dissatisfaction. Hatred and similarity can prevent true escape from pain. People are not born to suffer in silence, and sometimes the most challenging things in life require endurance and strength.</p>
                    <p>Legal duties are often rejected because of the corruption of truth and the burden of responsibility. Sometimes, people avoid their obligations out of fear or hatred, not understanding the real consequences. The smallest difficulties can feel overwhelming, but ultimately, choices and freedom remain, though they are often clouded by these struggles.</p>
                  </div>
                  <div class="col-lg-ts/4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-3.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabs-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pediatrics</h3>
                    <p class="fst-italic">I will reveal the entire accusation. Legal rights and personal pleasure often influence decisions, but ultimately, it is a matter of choice</p>
                    <p>Certain outcomes come freely and easily, often leading to pleasure. We sometimes run from our own needs, yet we still desire to fulfill our obligations. The biggest mistakes lead to inevitable results, and in some cases, choosing the more difficult path is necessary. But who will uncover the truth behind the work and effort of the creator?</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-4.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabs-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ophthalmologists</h3>
                    <p class="fst-italic">Flattery often leads people to accumulate obligations, because of their desires or external pressures.</p>
                    <p>Our efforts are universal. There are things that we must reject, but we often refuse what we should not. It is true that some things are disliked and others are loved. In life, we must deal with both difficulties and pleasures.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-5.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Tabs Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>His needs lead to certain outcomes, which he might try to avoid, but in the end, they are inevitable and must be addressed.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" >
            <p>
              <i class=" bi bi-quote quote-icon-left"></i>
                <span>Let pure intentions guide us toward meaningful results, while embracing the responsibility that comes with it. Even when faced with criticism or obstacles, it’s important to maintain our resolve and move forward with purpose. Laughter and lightness are necessary to sustain us in the face of challenges.</span>
                <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Despite the challenges and hardships, we must move forward with effort. The smallest actions can sometimes be the most important, and it’s through our work and determination that we find meaning. Even when facing difficulties, we must choose to embrace our responsibilities and seek understanding, for it is in doing so that we can heal and grow.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Unless we work together, nothing significant can be achieved. It’s through our efforts, even the smallest ones, that we make progress. Time, though fleeting, teaches us that forgiveness and effort are key. In the end, it's the small things that matter most, and what we achieve depends on the choices we make.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>People often avoid pain and blame, but many find themselves caught in the struggle. Forgiveness, however, can lead to inner peace. It is through effort and hardship that we discover who we truly are, and in the end, it is forgiveness that shines the brightest.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Some of those who are affected by this situation may find it difficult to move forward, yet it is important to seek understanding and forgiveness. Time will pass, and as we face our challenges, we must remember that no one is without fault. However, it's through our efforts to make amends that we can move beyond mistakes."</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Doctors Section -->
    <section id="doctors" class="doctors section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Doctors</h2>
        <p>His desires are fulfilled in unexpected ways, though they are still connected to what he truly wants.</p>
      </div><!-- End Section Title -->

      <div class="container">


        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Medical Officer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'img/doctors/doctors-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Doctors Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p>His desires are fulfilled in ways he cannot control, yet they are connected to what he truly wants.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-1.jpg' %}"><img src="{% static 'img/gallery/gallery-1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-2.jpg' %}"><img src="{% static 'img/gallery/gallery-2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-3.jpg' %}"><img src="{% static 'img/gallery/gallery-3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-4.jpg' %}"><img src="{% static 'img/gallery/gallery-4.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-5.jpg' %}"><img src="{% static 'img/gallery/gallery-5.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-6.jpg' %}"><img src="{% static 'img/gallery/gallery-6.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-7.jpg' %}"><img src="{% static 'img/gallery/gallery-7.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/gallery-8.jpg' %}"><img src="{% static 'img/gallery/gallery-8.jpg' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>His desires are fulfilled through things beyond his control, yet they are connected to what he truly wants</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-3">

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Free</h3>
              <h4><sup>Ksh</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Business</h3>
              <h4><sup>Ksh</sup>500<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <h3>Developer</h3>
              <h4><sup>Ksh</sup>1000<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>Ksh</sup>2000<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>His desires are fulfilled through something beyond his control, yet it is important to focus on what he truly wants.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item">
                <h3>Not concerned with the past, but focused on moving forward toward the goal.</h3>
                <div class="faq-content">
                  <p>Achievement comes from focused effort and the steady pursuit of goals, without unnecessary strain or discomfort.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>In times of challenge, a variety of methods or approaches are currently being applied.</h3>
                <div class="faq-content">
                  <p>The desire for growth often comes with challenges, and the pursuit of knowledge and excellence can lead to difficult but rewarding paths. Success in this journey requires dedication and skill, especially in the face of adversity.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Pain is something sought by those who strive for excellence and refinement.</h3>
                <div class="faq-content">
                  <p>My efforts are part of an ongoing process, unfolding naturally along the path. The support system is strong and steady. There's no hindrance, and the goal is clarity. The journey continues, with obstacles being navigated easily. The path progresses with ease, shaping our thoughts and experiences</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Time spent with resentment is like wandering aimlessly, and graceful actions come from nothing.</h3>
                <div class="faq-content">
                  <p>
                    Struggles are part of the process of fitting in, shaped by our daily habits. Life’s direction shifts with our actions, but there are steady moments that guide us. Through perseverance, we maintain our dignity, and as we push forward, challenges persist, shaping our path.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How does time relate to something small and manageable, not overwhelming or insignificant, and how does it connect with challenges or struggles?</h3>
                <div class="faq-content">
                  <p>There is discomfort from the strain, but a good balance of effort at the start. Now, through joy and vitality, Maecenas has gathered experience. It's about taking care of the body with proper movement and healthy practices along the way.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Do you understand why there is nothing for some people, or what the absence of something truly means?</h3>
                <div class="faq-content">
                  <p>Certainly, seeking pleasure and pain is straightforward. Some may attain it, but only by following a certain course. The real difference is found in the pain itself.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

     Contact Section
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h3>Contact</h3>
        <p>His requirements are met through something, and although he can avoid it, he definitely wants it.</p>
      </div><!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Along Parliament Way, Nairobi, Kenya</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+254 115126400</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@ngusafredrick003@gmail.com</p>
                </div>
              </div><!-- End Info Item -->




            </div>
          </div>



        </div>

      </div>

    </section><!-- /Contact Section -->
  <!-- index.html -->





  </main>







{% endblock %}